.purpe-block {
    background: url(../img/symbol.svg) no-repeat center top,
                $gradient-supersoft;
    background-size: 523px 600px, cover;
    border-radius: 0 0 12px 12px;
    position: relative;
    margin-bottom: 50px;
    animation-duration: 3s;
    
    &::after {
        content: '';
        height: 10px;
        background-color: #CACADB;
        position: absolute;
        bottom: -10px;
        left: 20px;
        right: 20px;
        border-radius: 0 0 12px 12px;
    }

    &::before {
        content: '';
        height: 10px;
        background-color: #E7E7F2;
        position: absolute;
        bottom: -20px;
        left: 40px;
        right: 40px;
        border-radius: 0 0 12px 12px;
    }
}

@media (min-width: 768px) {
    .purpe-block {
        background-size: 893px 1024px, cover;
        margin-bottom: 79px;
    }
}

@media (min-width: 992px) {
    .purpe-block {
        background-size: 670px 768px, cover;
        animation-name: symbol-zoom-992;
    }
}

@media (min-width: 1230px) {
    .purpe-block {
        background-size: 697px 799px, cover;
        animation-name: symbol-zoom-1230;
    }
}